@model GoldenStore.Models.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Cart">Shopping Cart</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
                @if (Model.ShoppingCart != null)
                {
                    <div class="col-md-6">
                        <div class="order-details">
                            <div class="section-title text-center">
                                <h3 class="title">Shopping Cart</h3>
                            </div>
                            <div class="order-summary">
                                <div class="order-col">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="col-md-3">PRODUCT</th>
                                                <th class="col-md-3">PRICE</th>
                                                <th class="col-md-3 text-center">COUNT</th>
                                                <th class="col-md-3 text-center">ACTION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ShoppingCart)
                                            {
                                                <tr>
                                                    <td class="col-md-3">@item.Product.Name</td>
                                                    <td class="col-md-3">@String.Format("{0:C}", item.Product.Price)</td>
                                                    <td class="col-md-3 text-center">x[@item.Count]</td>
                                                    <td class="col-md-3 text-center">
                                                        <form method="post">
                                                            <div class="btn-group" role="group">
                                                                <button type="submit" asp-action="Increase" class="btn btn-default btn-xs" asp-route-id="@item.Id">
                                                                    <span class="fa fa-plus"></span>
                                                                </button>
                                                                <button type="submit" asp-action="Decrease" class="btn btn-default btn-xs" asp-route-id="@item.Id">
                                                                    <span class="fa fa-minus"></span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <form asp-controller="Order" asp-action="Create">
                                <div class="form-group">
                                    <label class="control-label" style="text-transform: uppercase" asp-for="Order.Total"></label>
                                    <input id="order" readonly class="input" asp-for="@Model.Order.Total" />
                                </div>
                                <div class="form-group">
                                    <button class="primary-btn btn-block">Place order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="section-title">
                            <h3 class="title">Coupon Code</h3>
                        </div>
                        <div class="form-group">
                            <input class="input" id="coupon" asp-for="@Model.Order.CouponCode">
                        </div>
                        <div class="form-group">
                            <button id="applyButton" class="primary-btn btn-block">Apply</button>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index" asp-controller="Cart" id="removeCoupon" style="display:none;" class="primary-btn btn-block">Remove</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            There are not any products in your shopping cart.
                        </div>
                    </div>
                }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->

@section Scripts {
    <script>
        $('#applyButton').click(function () {
            var coupon = document.getElementById("coupon").value;
            var total = document.getElementById("order").value;

            $.ajax({
                url: '/API/Coupons?total=' + total + '&coupon=' + coupon,
                type: 'GET',
                dataType: 'text',
                success: function (data, textStatus, xhr) {
                    var splitData = data.split(":");

                    if (splitData[1] == 'E') {
                        alert("Coupons is either invalid or does not meet the criteria.");
                    }
                    else {
                        $('#order').attr('value', Math.round(splitData[0] * 100) / 10000);
                        document.getElementById('coupon').readOnly = true;
                        document.getElementById('applyButton').style.display = 'none';
                        document.getElementById('removeCoupon').style.display = '';
                    }
                }
            })
        });
    </script>
}